[Desktop Entry]
Type=Application
Icon=Lab_8
Name=Lab_8
Exec=/usr/bin/sailjail -p Lab_8.desktop /usr/bin/Lab_8
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Lab_8

[X-Sailjail]
Permissions=Audio;Calendar;Camera;Contacts;Documents;Downloads;Email;Internet;Messages;Microphone;Music;Phone;Pictures;Videos
OrganizationName=ru.test
ApplicationName=Lab_8
