[Desktop Entry]
Type=Application
Icon=Lab_3
Name=Lab_3
Exec=/usr/bin/sailjail -p Lab_3.desktop /usr/bin/Lab_3
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Lab_3

[X-Sailjail]
Permissions=Audio;Calendar;Camera;Contacts;Documents;Downloads;Email;Internet;Messages;Microphone;Music;Phone;Pictures;Videos
OrganizationName=ru.test
ApplicationName=Lab_3
